<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="static/images/icon.png">
		<link rel="stylesheet" href="static/styles/4-common.css">
		<link rel="stylesheet" href="static/styles/3-header.css">
		<link rel="stylesheet" href="static/jstyles/3-footer.css">
		<link rel="stylesheet" href="static/styles/6-filters.css">
		<link rel="stylesheet" href="static/styles/8-places.css">
		<title>
			AirBnB clone
		</title>
	</head>
	<body>
		<header>
			 <div class="logo"></div>
		</header>
		<div class=container>
			<section class=filters>
				<div class=locations>
					<h3>States</h3>
					<h4>&nbsp</h4>
					<ul class=popover>
						{% for item in s_list|sort(attribute="name") %}
						<li class=lvl1><h2>{{ item.name }}</h2>
						<ul>
							{% for i2 in item.cities|sort(attribute="name") %}
							<li class=lvl2>{{ i2.name }}</li>
							{% endfor %}
						</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class=amenities>
					<h3>Amenities</h3>
					<h4>&nbsp</h4>
					<ul class=popover>
						{% for am in a_list|sort(attribute="name") %}
						<li class=lvl1>{{ am.name }}</li>
						{% endfor %}
					</ul>
				</div>
				<button class="btn" type="button">
					Search
				</button>
			</section>
			<section class=places>
				<h1>Places</h1>
				{% for place in p_list|sort(attribute="name") %}
				<article>
					<h2>{{ place.name }}</h2>
					<div class=price_by_night>${{ place.price_by_night }}</div>
					<br>
					<div class=information>
						<div class=max_guest><span>{{ place.max_guest }} Guest</span></div>
						<div class=number_rooms><span>{{ place.number_rooms }} Room</span></div>
						<div class=number_bathrooms><span>{{ place.number_bathrooms }} Bathroom</span></div>
					</div>
					<div class=user><b>Owner:</b> {{ place.uname }}</div>
					{% autoescape false %}
					   <div class=description>{{ place.description }}</div>
					{% endautoescape %}
				</article>
				{% endfor %}
			</section>
		</div>
		<footer>
			Holberton School
		</footer>
	</body>
</html>
