<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<TITLE>HBNB</TITLE>
	</HEAD>
	<BODY>
		<H1>States</H1>
		<UL>
			{% for item in s_list|sort(attribute="name") %}
			<LI>
				{{ item.id }}: <B>{{ item.name }}</B>
				<UL>
                                        {% for i2 in item.cities|sort(attribute="name") %}
                                        <LI>
                                                {{ i2.id }}: <B>{{ i2.name }}</B>
                                        </LI>
                                        {% endfor %}

				</UL>
			</LI>
			{% endfor %}
		</UL>
	</BODY>
</HTML>
